#app {    
  font-family: 'PT Sans', 'Avenir', Helvetica, Arial, sans-serif;
}

code {
  color: rgb(101, 123, 131);
  display: block;
  font-family: "Consolas", "Courier New", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.remark {
  opacity: 0.75; 
  font-size: 75%;
  line-height: 19px;
}

@media screen and (min-width: 1250px) and (max-width:3000px) {
	.remark {
		width: 25%;
		position: relative;         
		float: right;
		clear: right;
    top: -10px;
    left: -320px;
	}
}

.rss {
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid;
  padding: 0 2px 1px 3px !important;
  font-size: 0.785em;
  line-height: 0.785em;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
  top: -1px;
}

.rss:link, .rss:visited {
  color: #000;
  border-bottom-color: #000;
}

.rss:hover {
  opacity: 0.50; 
}